.card{
    margin: 2%;
    cursor: pointer;
    width: 25vw;
    height: fit-content;
}

.card-image{
    object-fit: cover;
    height:30vh;
    
    
}
.title{
    text-align: center;
    color: rgb(56, 59, 216);
}

