<div class="container" fxFlex fxLayout="column" fxLayoutGap="10px">
  <div fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
    <mat-icon>date_range</mat-icon> 
    <h3>View All schedules</h3>
  </div>
  <div class="filter-container">
    <mat-form-field class="filter" >
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder=" Ex: Jun 20 , 2023 ?" #input>
    </mat-form-field>
  </div>
  <div class="schedule-list">
    <ng-container *ngIf="plannings">
      <mat-accordion>
        <mat-expansion-panel #panel *ngFor="let planning of plannings; let i = index"
        [@expandCollapse]
        (opened)="expandedIndex = i"
        (closed)="expandedIndex = -1"
        (mouseenter)="startLottieAnimation(i)"
        (mouseleave)="stopLottieAnimation(i)">
          <mat-expansion-panel-header>
            <mat-panel-title class="text" >{{ planning.createdAt }}</mat-panel-title>
            <mat-panel-description > <span class="text">SUMMARY :</span>
              <app-lottie-animation-view [animationPath]="getIconName(planning.rxRate)" iconWidth="20" iconHeight="20"></app-lottie-animation-view>
              <span class="text" >{{ getRateText(planning.rxRate) }}</span>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="panel-container" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px">
            <div fxFlex="50%" fxLayoutAlign="center center">
              <canvas #chartCanvas *ngIf="planning.jobList.length > 0" style="max-width: 100%; max-height: 300px;"></canvas>
            </div>
            <div fxFlex="25%" >
              <div  style="width: 80px; height: 80px;" fxFlex fxLayout="column" fxLayoutAlign="start center">
                <app-doughnut-chart [rate]="planning.rxRate" [startAnimation]="expandedIndex === i"></app-doughnut-chart>
                <span class="text">Rx 24 Rate</span>
              </div>
            </div>
            <div fxFlex="25%">
              <div  style="width: 80px; height: 80px;" fxFlex fxLayout="column" fxLayoutAlign="start center">
                <app-doughnut-chart borderwidth="15px" [rate]="planning.dueDateRate" [startAnimation]="expandedIndex === i"></app-doughnut-chart>
                <span class="text">Jobs done before dueDate</span>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </ng-container>
  </div>
</div>