.container{
    margin : 1em 3em;
}

.schedule-list{
    padding :1em 2em;
    background-color: white;
    border-radius: 15px;
}

.panel-container{
    width: 80vw;
    height: 50vh;
    pad: 10px 10px;
}

.text{
    text-align: end; 
    font-weight: bold;
}
